.social{
   float:left;
   width: 90px;
   padding: 5px;
   padding-top: 10px;
   border-right: none;
}
.social > div {
  height: 20px;
}
.social > div > * {
  display: block;
  float: left;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}

.nested_categories {
  margin-left: 30px;
}


.carousel {
  height: 294px;
}

#main-nav {
  /*margin-bottom: 5px;*/
  .navbar-inner {
    background: #1e5799; /* Old browsers */
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(top, #207cca 0%, #2989d8 47%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207cca), color-stop(47%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #207cca 0%,#2989d8 47%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #207cca 0%,#2989d8 47%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #207cca 0%,#2989d8 47%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom, #207cca 0%,#2989d8 47%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    border: none;
    min-height: 20px;
    li {
      line-height: 4px;
    }
    li > a {
      color: white !important;
      font-weight: bold !important;
      &:hover, &.hovered {
        color: #000 !important;
        font-weight: bold !important;
      }
    }
    .dropdown-menu {
      background: #fff;
      li > a {
        color: #666 !important;
        line-height: 10px;
        border-bottom: none;
        font-weight: normal !important;
        background-color: #fff !important;
        &:hover {
          color: #207CCA !important;
        }
        h4 { padding-left: 5px; }
      }
    }
    a:hover, a.hovered {
      background: #fff !important;
      text-decoration: none;
    }
    ul#mega-menu {
      width: 860px;
      padding: 5px;
      td {
        vertical-align: top;
        h4 {
          font-weight: bold !important;
          color: black;
          padding-left: 10px;
          line-height: 15px;
        }
        a {
          display: block;
          color: #666 !important;
          line-height: 8px;
          border-bottom: none;
          background: #fff !important;
          &:hover {
            color: #207CCA !important;
          }
        }
      }
    }
  }
}

#categories, #products {
  .category, .product {
    text-align: center;
    .c_image, p_image { line-height: 300px; }
    border: 1px solid white;
    &:hover {
      border: 1px solid #11608F;
      -moz-box-shadow: 1px 1px 5px #999;
      -webkit-box-shadow: 1px 1px 5px #999;
      box-shadow: 1px 1px 5px #999;
    }
  }
}

ul.nav li.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar .dropdown-menu {
 margin-top: 0px;
}

.block_ad {
  min-height: 200px;
  text-align: center;
  line-height: 300px;
}

.email-marketing {
  background: #1e5799; /* Old browsers */
  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(top, #207cca 0%, #2989d8 47%, #1e5799 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207cca), color-stop(47%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #207cca 0%,#2989d8 47%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #207cca 0%,#2989d8 47%,#1e5799 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #207cca 0%,#2989d8 47%,#1e5799 100%); /* IE10+ */
  background: linear-gradient(to bottom, #207cca 0%,#2989d8 47%,#1e5799 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
  border: none;
  margin-top: 10px;
  padding: 5px 0 5px 0;
  color: white;
  form {
    margin-bottom: 0px;
  }
}

#slider, #categories-slider { background: asset-url("loading.gif", image) no-repeat center; }
#slider { margin-bottom: 5px; }

#categories-menu {
  li { padding: 0; }
  .active > a, .active > a:hover {
    background-color: #207CCA;
  }
  a:hover {
    background-color: #207CCA;
  }
}

#news-block {
  .ticker-title {
    width: 52px;
  }
  ul > li {
    padding: 0px;
  }

  .ticker-controls {
    float: right;
  }
}
