.social{
   float:left;
   width: 90px;
   padding: 5px;
   padding-top: 10px;
   border-right: none;
}
.social > div {
  height: 20px;
}
.social > div > * {
  display: block;
  float: left;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}

.nested_categories {
  margin-left: 30px;
}

header {
  font-size: 11px;
  form {
    margin: 0px;
    input#search {
      padding: 2px;
    }
    input[type="submit"].btn {
      padding: 3px 10px;
    }
  }
  #search {
    margin-left: 5px;
    #search-form {
      margin: 0px;
    }
  }
  .locale {
    padding-left: 45px;
    padding-top: 20px;
  }
}

#main-nav {
  margin-bottom: 0px;
  border: none;
  border-bottom: none !important;
  border-top: none !important;
  .navbar-inner {
    background-color: white;
    background-image: url(asset-path("gradient-34.jpg", image));
    background-repeat: repeat-x;
    min-height: 20px;
    li {
      line-height: 4px;
    }
    li > a {
      color: white !important;
      font-weight: bold !important;
      &:hover, &.hovered {
        color: #000 !important;
        font-weight: bold !important;
      }
    }
    .dropdown-menu {
      background: #fff;
      li > a {
        color: #666 !important;
        line-height: 10px;
        border-bottom: none;
        font-weight: normal !important;
        background-color: #fff !important;
        &:hover {
          color: #207CCA !important;
        }
        h4 { padding-left: 5px; }
      }
    }
    a:hover, a.hovered {
      background: #fff !important;
      text-decoration: none;
    }
    ul#mega-menu {
      width: 740px;
      padding: 5px;
      td {
        vertical-align: top;
        h4 {
          font-weight: bold !important;
          color: black;
          padding-left: 10px;
          line-height: 15px;
        }
        a {
          display: block;
          color: #666 !important;
          line-height: 1px;
          border-bottom: none;
          background: #fff !important;
          &:hover {
            color: #207CCA !important;
          }
        }
      }
    }
  }
}

#categories, #products {
  .category, .product {
    text-align: center;
    .c_image, p_image { line-height: 200px; }
    border: 1px solid white;
    &:hover {
      border: 1px solid #11608F;
      -moz-box-shadow: 0px 0px 10px #11608F;
      -webkit-box-shadow: 0px 0px 10px #11608F;
      box-shadow: 0px 0px 10px #11608F;
    }
  }
}

ul.nav li.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar .dropdown-menu {
 margin-top: 0px;
}

.block_ad {
  min-height: 200px;
  text-align: center;
  line-height: 200px;
}

.email-marketing {
  background-image: url(asset-path("gradient-41.jpg", image));
  background-repeat: repeat-x;
  border: none;
  padding: 5px 0 5px 0;
  color: white;
  form {
    margin-bottom: 0px;
  }
}

#slider, #categories-slider { background: asset-url("loading.gif", image) no-repeat center; }
#slider {
  margin-bottom: 0px;
  height: 300px;
}

#categories-menu {
  li { padding: 0; }
  .active > a, .active > a:hover {
    background-color: #207CCA;
  }
  a:hover {
    background-color: #207CCA;
  }
}

#news-block {
  .ticker-title {
    width: 52px;
  }
  ul > li {
    padding: 0px;
  }

  .ticker-controls {
    float: right;
  }
}

#product {
  h2 {
    font-weight: bold;
    margin-bottom: 20px;
 }
 #product-main-image {
   padding: 5px;
   border: 1px solid #EEE;
   text-align: center;
   line-height: 200px;
 }
 .product_image {
   margin-bottom: 5px;
   border: 1px solid #EEE;
   &:hover {
     border: 1px solid #11608F;
     -moz-box-shadow: 0px 0px 10px #11608F;
     -webkit-box-shadow: 0px 0px 10px #11608F;
     box-shadow: 0px 0px 10px #11608F;
   }
 }
 li.active > a {
   color: #fff;
   background: #207CCA;
 }
 ul.nav {
   margin-bottom: 0px;
   border-bottom: none;
 }
 .tab-content {
   border: 1px solid #ccc;
   min-height: 300px;
   padding: 10px;
 }
}

#news-block {
  background-image: url(asset-path("index_news_bg.jpg", image));
  background-repeat: repeat-x;
  background-position: left bottom;
}
