body {
  background-image: url(asset-path("index_bg.jpg", image)) !important;
  background-repeat: repeat-x;
  background-position: center;
}
#welcome-index {
  width: 1010px;
  margin: 0 auto;
  background-image: url(asset-path("main_bg-1010.png", image)) !important;
  background-repeat: repeat-y;
  background-position: center;
}
